body {
    font-family: "Open Sans";
    background-color: #f3f3f4;
}
.top-navigation-bar {
    background: #ffffff;
}
.top-menu-right-nav-bar {
    display: inline-block;
    float: right;
    margin-right: 30px;
    position: fixed;
    top: 0;
    left: 85%;
}

.top-menu-right-nav-bar div {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    font-family: "Open Sans";
}
.top-menu-right-nav-bar a {
    text-decoration: none;
}
.main-container {
    width: 80%;
    margin: auto;
    padding: 5px;
}
.url-item-block {
    width: 45%;
    height: 30px;
    margin: 5px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    cursor: pointer;
}
.url-item-block:hover {
    background-color: #F16534;
}
.url-item-block a {
    text-decoration: none;
}
.url-item-block:hover a {
    color: white;
}
.url-item-block div {
    margin: auto;
    width: 50%;
}

.top-container {
    height: 60px;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;
}

.content-center {
    margin: auto;
    width: 50%;
}

.disabled {
    width: 29%;
    position: relative;
    right: 1px;
    background-image: linear-gradient(-111deg, #F16534 4%, #ED3535 100%);
    pointer-events: none;
    opacity: 0.6;
    height: 30px;
}

.original-link-input input {
    width: 70%;
    height: 30px;
    color: #F16534
}

.link-input {
    border: 1px solid #F16534;
    padding: 10px;
}
.link-input textarea:focus, input:focus{
    outline: none;
}
.btn-main {
    background-image: linear-gradient(-111deg, #ED3535 4%, #F16534 100%);
    height: 30px;
    border-color: #F16534;
    color: white;
    width: 29%;
    position: relative;
    right: 1px;
    cursor: pointer;
}
.m-t {
    margin-top: 10px;
}
.m-t-4 {
    margin-top: 40px;
}
.m-t-8 {
    margin-top: 80px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

a {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #6a7dfe;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
.limiter input {
    outline: none;
    border: none;
}

.limiter textarea {
    outline: none;
    border: none;
}

.limiter input:focus::-webkit-input-placeholder { color:transparent; }
.limiter input:focus:-moz-placeholder { color:transparent; }
.limiter input:focus::-moz-placeholder { color:transparent; }
.limiter input:focus:-ms-input-placeholder { color:transparent; }

.limiter textarea:focus::-webkit-input-placeholder { color:transparent; }
.limiter textarea:focus:-moz-placeholder { color:transparent; }
.limiter textarea:focus::-moz-placeholder { color:transparent; }
.limiter textarea:focus:-ms-input-placeholder { color:transparent; }

.limiter input::-webkit-input-placeholder { color: #adadad;}
.limiter input:-moz-placeholder { color: #adadad;}
.limiter input::-moz-placeholder { color: #adadad;}
.limiter input:-ms-input-placeholder { color: #adadad;}

.limiter textarea::-webkit-input-placeholder { color: #adadad;}
.limiter textarea:-moz-placeholder { color: #adadad;}
.limiter textarea::-moz-placeholder { color: #adadad;}
.limiter textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
.limiter button {
    outline: none !important;
    border: none;
    background: transparent;
}

.limiter button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
}

.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: "Open Sans";
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}
.login100-form-title i {
    font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #6a7dfe;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    background: -o-linear-gradient(left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(left, #21d4fd, #b721ff);
    background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
    top: -15px;
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::after {
    top: -15px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
    font-size: 15px;
    color: #999999;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/*.btn-show-pass:hover {*/
    /*color: #6a7dfe;*/
    /*color: -webkit-linear-gradient(left, #21d4fd, #b721ff);*/
    /*color: -o-linear-gradient(left, #21d4fd, #b721ff);*/
    /*color: -moz-linear-gradient(left, #21d4fd, #b721ff);*/
    /*color: linear-gradient(left, #21d4fd, #b721ff);*/
/*}*/

/*.btn-show-pass.active {*/
    /*color: #6a7dfe;*/
    /*color: -webkit-linear-gradient(left, #21d4fd, #b721ff);*/
    /*color: -o-linear-gradient(left, #21d4fd, #b721ff);*/
    /*color: -moz-linear-gradient(left, #21d4fd, #b721ff);*/
    /*color: linear-gradient(left, #21d4fd, #b721ff);*/
/*}*/



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #F16534, #ffbd2a, #ED3535, #ff7a39);
    background: -o-linear-gradient(right, #F16534, #ffbd2a, #ED3535, #ff7a39);
    background: -moz-linear-gradient(right, #F16534, #ffbd2a, #ED3535, #ff7a39);
    background: linear-gradient(right, #F16534, #ffbd2a, #ED3535, #ff7a39);
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 77px 15px 33px 15px;
    }
}

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;

    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;

    display: block;
    position: absolute;
    background-color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/* SPINNER */

h1 {
    font: 2em 'Roboto', sans-serif;
    margin-bottom: 40px;
}

#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #F16534;
    animation: spin 5s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
.original-link-input a {
    color: #9B9B9B;
    text-decoration: none;
    font-size: 10px;
}

.delete-short-link{
    position: relative;
    top: 2px;
    right: 25px;
    cursor: pointer;
    color: #F16534;
}
.copy-btn {
    width: 28%;
    position: relative;
    right: 12px;
}

.navigation-panel li {
    height: 30px;
    width: 150px;
    padding: 7px;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.navigation-panel-item:hover {
    background-image: linear-gradient(-111deg, #ED3535 4%, #F16534 100%);
    color: #fff;
}
.content-block {
    width: 100%;
    padding: 20px;
    display: inline-block;
    background: white;
    margin-top: 40px;
    border-radius: 5px;
    position: relative;
    top: 40px;
}
.left-block {
    display: inline-block;
    width: 25%;
}
.main-block {
    width: 75%;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 20px;
    float: right;
    display: inline-block;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #9B9B9B;
    text-align: left;
    padding: 10px;
}
.footer span {
    font-size: 12px;
}
.logout {
    cursor: pointer;
}
.table {
    width: 100%;
    text-align: center;
}
.table th {
    height: 30px;
    width: 25%;
    text-align: center;
    font-size: 14px;
}
.table td {
    height: 30px;
    width: 25%;

}